@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #007BFF;
    padding: 15px;
    color: white;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.location-icon {
    width: 24px;
    height: 24px;
}

.dark-mode {
    background-color: #222;
    color: white;
}
