# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System and OS Files
[A-Z]*.lnk
.bash_history
.cache/
.git-for-windows-updater
.gitconfig
.lesshst
.micromamba/
.node_repl_history
.viminfo
.vscode/
.yarnrc
NTUSER.DAT*
ntuser.dat*
desktop.ini

# OS Folders
AppData/
Contacts/
Downloads/
Favorites/
Links/
Music/
Saved Games/
Searches/
Videos/

# Project/Build Artifacts
**/node_modules/
**/dist/
../news-app/
../my-react-trial/
package-lock.json
package.json
