
@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left, violet,indigo ,blue ,green,yellow,orange,red);
    
}
 

.nav{
    position: fixed;
    font-family: 'popins','cursive',sans-serif;
    font-weight: 500;
    bottom: 2rem;
    background-color: rgb(177, 182, 182 ,0.5);
    left:50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    width:30rem;
    padding: 1.5rem 0;
    border-radius: 5rem;
    z-index: 100;
    

}
.nav-list{
    
    display: flex;
    justify-content: space-evenly;
}
.nav-list li{
    list-style-type: none;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.nav-list li:hover,.nav-list li.active{
    color: rgb(208, 10, 135);
}


 .toolkit{
    position:absolute;
    background-color: cyan;
    border-radius: 0.5rem;
    top:-2rem;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    font-size: 1.2rem;
    color: rgb(8, 7, 14);
    padding: .3rem 1rem;
    white-space: nowrap;
    opacity: 0;
    transition: 0.3s ease-in;
}
.nav-list li:hover .toolkit,
 a:hover .toolkit{
   visibility: visible;
   opacity: 1;
}

.container{
   position: relative;
    width:100vh;
    height:100vh;
    left: 50%;
    transform: translateX(-50%);
     background: linear-gradient(to left, grey ,white ,rgba(245, 124, 84, 0.373));
    

}
.box{
    position: relative;
    height: 100%;
   
    padding:1rem;

}
.section{

    position:absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    padding: 2rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.section.about{
         background-color: azure;
         display:flex;
         flex-wrap: nowrap;
         gap: 2rem;
         align-items: center;
         
}
.home-info h1{
    font-family: 'cuesive','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5.5rem;
    line-height: 1;
    letter-spacing: -0.8rem;
    word-wrap:wrap;
}
.home-info h3,.about-info h3{
    font-weight: 500;
    font-size: 3rem;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}
.home-info p,.about-info p{
    margin:1rem 0 2rem ;
    
}

.home-info .icon{
    display: flex;
    justify-content: center;
    

   
}
.home-info .icon .icon-btn,.about-info a{
    background-color: rgb(179, 233, 233);
    color: rgb(20, 18, 18);
    padding: 1rem;
    border-radius: 3rem;
    box-shadow: 0 0 1rem aqua;
    transition:0.3s;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'popins',Arial, Helvetica, sans-serif;
   
    

}
.icon .icon-btn:hover{
    box-shadow: none;
}
.icon-sci {
   
    margin-left:2rem ;
    
}
.icon-sci a{
    display: inline-flex;
    position: relative;
    padding: 0.8rem;
    margin:0.8rem;
    color: cyan;
    font-size: 2rem;
    border: .1rem solid cyan;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
   
}
.icon-sci a span{
    font-family: popins,Arial, Helvetica, sans-serif;

}
a:hover{
    color:black;
    background-color:cyan;
    backdrop-filter: blur(50%);
}

 .img-box{
    position: relative;
     width:32vh;
     height:32vh;
     border-radius: 50%;
     background:linear-gradient(aqua aquamarine);
     border: .5rem solid aquamarine;
     box-shadow:0 0 4rem aqua ;
     display: flex;
     justify-content: center;
     overflow: hidden;
     transition: 1s ;
     
}
.img-box:hover{
    box-shadow: 0 0 100rem rgb(189, 111, 2);
   
}


.img-box img{
    border-radius: 50%;
    position:absolute;
    width:100%;
    height:100%;
   
}
.img-box .about-img{
    background: transparent;
    box-shadow: 0 0 2rem cyan ,inset 0 0 1rem gold;
}

.section.resume{
    padding-top:2rem ;
    padding-bottom: 2rem;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}
.section.resume h2{
    position: inherit;
    left: 50vh;
}

.tab-box{

    display: flex;
    width: 100%;
    height:5rem;
}


    

